{% extends "base.html.twig" %}


{% block body %}

    <div id="form-errors"></div>

    <div data-controller="message">
        {{ form_start(form, {
            action: path('app_message'),
            method: 'POST',
            attr: { 'data-turbo': 'true', id: 'message_form' }
        }) }}
        {{form_row(form.message)}}
        {{ form_end(form) }}
        <button id="sender" data-action="click->message#valid">Valider</button>
    </div>

    <div id="messageStream"></div>
    {% block message_stream %}
        <turbo-stream action="append" targets="#messageStream">
            <template>

                {% for message in messages %}
                    <p>{{ message }}</p>

                {% endfor %}
            </template>
        </turbo-stream>
    {% endblock %}

{% endblock %}
